@media print{
    #fastPageGhatal{
        page-break-after: avoid!important;
        page-break-before: avoid!important;
        font-size:large!important;
        
    }
    #NPfastPage{
        page-break-after: avoid!important;
        page-break-before: avoid!important;
        font-size:x-large!important;
        
    }
    
    #fastPageGhatal,p{font-weight: 600!important;}
}
#fastPageGhatal{
    font-weight: 600!important;
}p{
    font-size:large!important;
    
}
#NPfastPage{
    font-weight: 600!important;
}b{
    font-size:large!important;
    
}
