small {
  font-size: 70%;
  font-weight: 500;
}
.suggestions{
  position: absolute;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  width: 600px;
  height: auto;
  max-height: 300px;
  overflow: auto;
  /* font-size: x-small; */
}

.mat-icon {
  height: 20px;
  width: 20px;
  font-size: 20px;
  line-height: 20px;

  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 88px;
  border-radius: 3px;
}

.scroll-style {
  max-height: 45vh;
  overflow-y: auto;
  overflow-x: hidden;
}


#customers1 {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 60%;
  font-size: small;
}

#customers1 td, #customers1 th {
  border: 1px solid #ddd;
  padding: 8px;
  
}

#customers1 tr:nth-child(even){background-color: #f2f2f2;}

#customers1 tr:hover {background-color: #aeeea6; cursor: pointer;}

#customers1 th {
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: left;
  background-color: #34723A;
  color: white;
  font-size:small
}
@media print {
  .table-container {
    display: inline-block;
    width: 50%; /* Adjust the width as needed */
    margin-top: 1%;
  }
  
}
