<loading *ngIf="isLoading"></loading>

<div class="row d-flex justify-content-center align-items-center pt-4"
style="background-color: #78c2ad21; min-height: 20vh;">
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 shadow-sm mb-4 bg-white p-3">
  <div>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isRetrieve" [hidden]="userType!=='A'" (click)="retrieve()">Retrieve</button>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isNew"  [hidden]="userType!=='A'" (click)="new()">New</button>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isSave" [hidden]="userType!=='A'" (click)="saveuser()">Save</button>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isModify" (click)="updateuser()">Update</button>
    <!-- <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isClear" (click)="clearuser()">Clear</button> -->
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isDel" (click)="deleteuser()">Delete</button>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" (click)="closeScreen()" style="position: absolute;right: 10px;">Close</button>
    <!-- <div class="row" [hidden]="!selected_user">
      <div class="form-group col-3"  [formGroup]="get_user">
      <small >Select User<span class="text-danger">*</span></small>
      <select name="select_user"class="form-control form-control-sm" [disabled]="userType!=='A'" formControlName="select_user">
              <option disabled selected>Select User</option>
              
            <option *ngFor="let title of selectalluser" [value]="title.user_id">{{title.user_id}}</option>
      </select>
      </div>
      <div class="form-group col-3" style="margin-top:18px;">
          <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm"  (click)="getallUser()">Get User</button>
      </div>
    </div> -->
  
  </div>
</div>
 <!-- <div  class="col-xs-12 col-sm-12 col-md-8 col-lg-8 shadow-lg mb-4 bg-white p-3"> 
  

        
</div> -->
<div *ngIf="showMsg?.Show" class="custom-alert-popup animate-popup" [ngClass]="getAlertClass(showMsg.Type)">
      <span class="alert-icon">{{ getAlertIcon(showMsg.Type) }}</span>
      <span class="alert-text">{{ showMsg.Message }}</span>
    </div>
 
  <br>
<div class="profile-container fade-in">
  <div class="profile-header">
    <h2><i class="fa fa-user-edit"></i> User Profile Settings</h2>
    <p>Manage your personal information and account settings</p>
  </div>
  
  <div class="form-container">
    <form [formGroup]="addUser">
      
      <!-- Account Information Section -->
      <div class="form-section">
        <h3 class="section-title">
          <i class="fa fa-id-card"></i>
          Account Information
        </h3>
        
        <div class="form-row">
          <div class="form-group">
            <label class="form-label">User ID<span class="required">*</span></label>
            <div class="icon-field">
              <i class="fa fa-user field-icon"></i>
              <input type="text" class="form-control" 
                     [disabled]="userType!='A'" 
                     formControlName="userid" 
                     id="userid">
            </div>
          </div>
          
          <div class="form-group">
            <label class="form-label">Branch<span class="required">*</span></label>
            <div class="icon-field">
              <i class="fa fa-code-branch field-icon"></i>
              <select class="form-select" 
                      [disabled]="userType!='A'" 
                      formControlName="branch" 
                      id="branch">
                <option>Select an Option</option>
                <option *ngFor="let options of brnDtls" [value]="options.brn_cd">
                  {{ options.brn_name }}
                </option>
              </select>
            </div>
          </div>
          
          <div class="form-group">
            <label class="form-label">User Type<span class="required">*</span></label>
            <div class="icon-field">
              <i class="fa fa-user-tag field-icon"></i>
              <select class="form-select" 
                      [disabled]="userType!=='A'" 
                      formControlName="utype" 
                      name="utype">
                <option disabled selected>Select User</option>
                <option value="S">Super User</option>
                <option value="G">General User</option>
                <option value="D">Discard User</option>
                <option value="A">Admin</option>
                <option value="L">Loan User</option>
                <option value="P">Deposit User</option>
              </select>
              <span class="user-type-badge" [ngClass]="getUserTypeBadgeClass()">
              {{ getUserTypeLabel() }}
            </span>
            </div>
            
          </div>
        </div>
      </div>

      <!-- Security Section -->
      <div class="form-section">
        <h3 class="section-title">
          <i class="fa fa-key"></i>
          Security Settings
        </h3>
        
        <div class="form-row">
          <div id="error-message" style="color: red;"></div>
            <h4 *ngIf="f.cpassword.errors?.confirmedValidator" class="text-danger" style=" position: absolute; top: 33%; right: 22%; ">Password and Confirm Password must be match.</h4>
          
          <div class="form-group">
            <label class="form-label">Password<span class="required">*</span></label>
            <div class="password-toggle">
              <div class="input-group">
                <div class="icon-field" style="flex: 1;">
                  <i class="fa fa-lock field-icon"></i>
                  <input [type]="show_button ? 'text' : 'password'" 
                         class="form-control" 
                         formControlName="password" 
                         id="password"
                         (keyup)="passCheck($event)"
                         placeholder="Enter your password"
                         style="padding-left: 45px;">
                </div>
                <span class="input-group-text" (click)="showPassword()">
                  <i [class]="show_eye ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                </span>
              </div>
              <a href="#" class="change-password-link" 
                 [hidden]="pass" 
                 (click)="showCpass1(); $event.preventDefault()">
                <i class="fa fa-edit"></i> Change Your Password?
              </a>
            </div>
          </div>
          
          <div class="form-group" *ngIf="showCpassword">
            <label class="form-label">Confirm Password<span class="required">*</span></label>
            <div class="icon-field">
              <i class="fa fa-lock field-icon"></i>
              <input type="password" 
                     class="form-control" 
                     formControlName="cpassword" 
                     id="cPassword"
                     placeholder="Confirm your password">
            </div>
            <a href="#" class="change-password-link" 
               [hidden]="cpass" 
               (click)="hideCpass1(); $event.preventDefault()">
              <i class="fa fa-times"></i> Don't Change Now
            </a>
          </div>
        </div>
      </div>

      <!-- Personal Information Section -->
      <div class="form-section">
        <h3 class="section-title">
          <i class="fa fa-id-card"></i>
          Personal Information
        </h3>
        
        <div class="form-row">
          <div class="form-group">
            <label class="form-label">First Name<span class="required">*</span></label>
            <div class="icon-field">
              <i class="fa fa-user field-icon"></i>
              <input type="text" 
                     class="form-control" 
                     [disabled]="userType!=='A'" 
                     formControlName="fname" 
                     id="fname"
                     placeholder="Enter first name">
            </div>
          </div>
          
          <div class="form-group">
            <label class="form-label">Middle Name</label>
            <div class="icon-field">
              <i class="fa fa-user field-icon"></i>
              <input type="text" 
                     class="form-control" 
                     [disabled]="userType!=='A'" 
                     formControlName="mname" 
                     id="mname"
                     placeholder="Enter middle name">
            </div>
          </div>
          
          <div class="form-group">
            <label class="form-label">Last Name<span class="required">*</span></label>
            <div class="icon-field">
              <i class="fa fa-user field-icon"></i>
              <input type="text" 
                     class="form-control" 
                     [disabled]="userType!=='A'" 
                     formControlName="lname" 
                     id="lname"
                     placeholder="Enter last name">
            </div>
          </div>
        </div>
      </div>
      <div class="form-section">
        <h3 class="section-title">
          <i class="fa fa-id-card"></i>
          Fingerprint Information
        </h3>
        <div class="form-row">
        <div class="fingerprint-main-container">
          <div class="form-group col-6 fingerprint-section d-flex flex-column align-items-center" style="margin-top: 10%;">
                 <h2><strong>Add / Change Your Fingerprint</strong></h2><br><br>
                  <button class="btn-fingerprint" (click)="captureAndMatchFinger()">Capture Fingerprint</button>

        </div>
         <div class="form-group col-4 fingerprint-section d-flex flex-column align-items-center" style="margin-top: 20px;">

          <!-- Rectangular Fingerprint Display -->
          <div class="fingerprint-container" *ngIf="showFingerprint">
            <div class="finger-circle">
              <ng-container [ngSwitch]="fingerprintStatus">
                <span *ngSwitchCase="'idle'" class="material-icons fingerprint-icon idle-icon">fingerprint</span>
                <div *ngSwitchCase="'scanning'">
                  <div class="scan">
                    <div class="fingerprint"></div>
                    <h3>Scanning...</h3>
                  </div>
                </div>
                <span *ngSwitchCase="'success'" class="material-icons success-icon animate-pop">check_circle</span>
                <span *ngSwitchCase="'error'" class="material-icons error-icon animate-pop">cancel</span>
              </ng-container>
            </div>

           
          </div>
          <!-- Action Buttons -->
          <!-- <button mat-raised-button type="button" class="btn btn-outline-success btn-sm mb-2" (click)="addFingerprint()">Add Fingerprint</button> -->
          <!-- <button mat-raised-button type="button" class="btn btn-outline-warning btn-sm" (click)="changeFingerprint()">Change Fingerprint</button> -->
        </div>
        </div>
         
      </div>
        
      </div>
    </form>
  </div>
</div>

<!-- User Retrieve Section -->
<div class="profile-container fade-in" [hidden]="getUserDtl">
  <div class="profile-header">
    <h2><i class="fa fa-user-cog"></i> User Management</h2>
    <p>Update user information for: <span class="username-highlight">{{getusername}}</span></p>
  </div>
  
  <div class="form-container">
    <form [formGroup]="upd_s_User" autocomplete="chrome-off">
      
      <!-- User Update Section -->
      <div class="form-section">
        <h3 class="section-title">
          <i class="fa fa-user-edit"></i>
          User Information Management
        </h3>
        
        <div class="retrieve-form-layout">
           <div class="form-row">
          <div class="form-group">
            <label class="form-label">Select User<span class="required">*</span></label>
            <div class="icon-field">
              <i class="fa fa-user-tag field-icon"></i>
              <select class="form-select" formControlName="user_id" [(ngModel)]="selected_userID" (change)="getallUser($event)" >
                <option disabled selected>Select User</option>
                  <option *ngFor="let title of selectalluser" [value]="title.user_id">{{title.user_id}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="form-label">User Type<span class="required">*</span></label>
            <div class="icon-field">
              <i class="fa fa-user-tag field-icon"></i>
              <select class="form-select" formControlName="utype" name="utype">
                <option disabled selected>Select User</option>
                <option value="S">Super User</option>
                <option value="G">General User</option>
                <option value="D">Discard User</option>
                <option value="A">Admin User</option>
                <option value="L">Loan User</option>
                <option value="P">Deposit User</option>
              </select>
            </div>
            
          </div>
          <div class="form-group">
              <span class="user-type-badge" [ngClass]="getRetrieveUserTypeBadgeClass()" style="margin-top: 30px;">
              {{ getRetrieveUserTypeLabel() }}
            </span>
          </div>
          </div>
          <!-- Action Buttons -->
          <div class="action-buttons-section">
            <div class="button-group">
              <button type="button" 
                      class="btn btn-premium btn-warning"
                      (click)="defPass()">
                <i class="fa fa-key"></i>
                Reset to Default Password
              </button>
              &nbsp;&nbsp;&nbsp;
              <button type="button" 
                      class="btn btn-premium btn-success"
                      (click)="update_user_dtl()">
                <i class="fa fa-save"></i>
                Update User
              </button>
              &nbsp;&nbsp;&nbsp;
              <button type="button" 
                      class="btn btn-premium btn-secondary"
                      (click)="closeScreen2()">
                <i class="fa fa-times"></i>
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      
    </form>
  </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 shadow-sm mb-4 bg-white p-3">
  <div>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isRetrieve" [hidden]="userType!=='A'" (click)="retrieve()">Retrieve</button>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isNew" [hidden]="userType!=='A'" (click)="new()">New</button>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isSave"  [hidden]="userType!=='A'" (click)="saveuser()">Save</button>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isModify" (click)="updateuser()">Update</button>
    <!-- <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isClear" (click)="clearuser()">Clear</button> -->
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="!isDel" (click)="deleteuser()">Delete</button>
    <button mat-raised-button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" (click)="closeScreen()" style="position: absolute;right: 10px;">Close</button>
  </div>
</div>
  </div>
  
 



  